<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">ITForum<strong>.com</strong></a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item " [routerLinkActive]="['active']"> 
        <a class="nav-link" href="/#/topic-list-form">Home <span class="sr-only">(current)</span></a>
      </li>      
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link " href="/#/topic-form">Topic</a> 
      </li>
      <!--<li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link " href="/#/comment-form;topicId=1">Comments</a> 
      </li>-->
    </ul>
    
    <form [formGroup]="headerForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" formControlName="search" type="text" placeholder="Search" (keyup)="doSearch($event)">
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->      
    </form>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" href="/#/user-form">Sign-Up</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link " href="/#/sign-in-form">Sign In</a> 
      </li>
    </ul>

  </div>
</nav>
